#footer {
  grid-area: footer;
}

.footer {
  background-color: $gray-400;

  &__image {
    max-width: 5rem;
  }

  &__author {
    @media (max-width: 1400px) {
      font-size: 11px;
    }
  }
}

.ref-container {
  @media (max-width: 1000px) {
    display: flex;
    flex-direction: column;
    align-items: flex-end !important;
  }
}
